<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="common_js">
    <!-- jQuery -->
    <script th:src="@{/vendors/jquery/dist/jquery.min.js}" src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script th:src="@{/vendors/bootstrap/dist/js/bootstrap.bundle.min.js}" src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script th:src="@{/vendors/fastclick/lib/fastclick.js}" src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script th:src="@{/vendors/nprogress/nprogress.js}" src="../vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script th:src="@{/vendors/iCheck/icheck.min.js}" src="../vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script th:src="@{/vendors/datatables.net/js/jquery.dataTables.min.js}" src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}" src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script th:src="@{/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}" src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script th:src="@{/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}" src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script th:src="@{/vendors/datatables.net-buttons/js/buttons.flash.min.js}" src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script th:src="@{/vendors/datatables.net-buttons/js/buttons.html5.min.js}" src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script th:src="@{/vendors/datatables.net-buttons/js/buttons.print.min.js}" src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script th:src="@{/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}" src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script th:src="@{/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}" src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script th:src="@{/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}" src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script th:src="@{/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}" src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script th:src="@{/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}" src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script th:src="@{/vendors/jszip/dist/jszip.min.js}" src="../vendors/jszip/dist/jszip.min.js"></script>
    <script th:src="@{/vendors/pdfmake/build/pdfmake.min.js}" src="../vendors/pdfmake/build/pdfmake.min.js"></script>
    <script th:src="@{/vendors/pdfmake/build/vfs_fonts.js}" src="../vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Custom Theme Scripts -->
    <script th:src="@{/build/js/custom.min.js}" src="../build/js/custom.min.js"></script>
</div>
</body>
</html>