<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>客户关系管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/asserts/jquery/themes/default/easyui.css}" href="${ctp }/static/jquery/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/asserts/jquery/themes/icon.css}" href="${ctp }/static/jquery/themes/icon.css">
    <script type="text/javascript" th:src="@{/asserts/jquery/jquery.easyui.min.js}" src="${ctp }/static/jquery/jquery.easyui.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#tt').tree({
                onClick : function(node) {
                    if(node.attributes.url){
                        window.parent.document.getElementById("content").src="${ctp}" +node.attributes.url;
                    }
                }
            });
        });
    </script>
</head>
<body>
<ul th:fragment="menu" id="tt" class="easyui-tree" ></ul>
</body>
</html>