<!DOCTYPE html>
<title>客户关系管理系统</title>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{/asserts/jquery/jquery-1.9.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/asserts/jquery/jquery.easyui.min.js}"></script>
</head>
<body>
    <div rows="85,*,40" frameborder="NO" noresize Borders="NO"
         framespacing="0">
        <div th:replace="home/header::header"></div>

        <div rows="*" cols="180,*" border="0" noresize framespacing="2">
            <div th:replace="/home/success01::menu"></div>

            <div th:replace="home/welcome::welcome"></div>

        </div>

        <div th:replace="home/footer::footer"></div>
    </div>
    <script type="text/javascript">

        $('#tt').tree({
            method:'get',
            url:'tree_data.json',
            animate: true
        });
    </script>

</body>
